<!DOCTYPE html>
<html>
<head>
	<title>Worship Setlist Generator</title>
</head>
<body>
	<form action="/submit">
		<p>
			<label for="Verse 1">Verse 1</label><br>
			<input type="text" name="Verse 1">
		</p>
		<p>
			<label for="Verse 2">Verse 2</label><br>
			<input type="text" name="Verse 2">
		</p>
		<p>
			<label for="Verse 3">Verse 3</label><br>
			<input type="text" name="Verse 3">
		</p>
		<p>
			<label for="Themes">Themes</label><br>
			<input type="text" name="Themes">
		</p>
		<p>
			<label for="Number of Songs">Number of Songs</label><br>
			<input type="number" name="Number of Songs">
		</p>
		<p>
			<label for="High/Low Energy Ratio">High/Low Energy Ratio</label><br>
			<input type="range" name="High/Low Energy Ratio">
		</p>
		<p><button type="submit">Submit</button></p>
	</form>
</body>
</html>
